<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @matching.customer_id %>
</p>

<p>
  <strong>Store:</strong>
  <%= @matching.store_id %>
</p>

<%= link_to 'Edit', edit_matching_path(@matching) %> |
<%= link_to 'Back', matchings_path %>
