<h1>Listing stores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Address</th>
      <th>Geo data</th>
      <th>Mail address</th>
      <th>Memo</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.user_id %></td>
        <td><%= link_to store.name, store %></td>
        <td><%= store.address %></td>
        <td><%= store.geo_data %></td>
        <td><%= store.mail_address %></td>
        <td><%= store.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
