<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Geo data:</strong>
  <%= @store.geo_data %>
</p>

<p>
  <strong>Mail address:</strong>
  <%= @store.mail_address %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @store.memo %>
</p>

<%= link_to 'Back', stores_path %>
