<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Mail address</th>
      <th>Memo</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %> : <%= link_to customer.user_id, customer %></td>
        <td><%= customer.name %></td>
        <td><%= customer.mail_address %></td>
        <td><%= customer.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
