<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @customer.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Mail address:</strong>
  <%= @customer.mail_address %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @customer.memo %>
</p>

<%= link_to 'Back', customers_path %>
